body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/* Bolinhas de navegação */

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  /* Tira os números de index (o texto) das esferas */
  text-indent: -999px;

  margin: 5px;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: #e54;
}

/* CUSTOM CONTROLS */

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  /* Quando estoura o container a linha quebra */
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.3s;

  width: 40px;
  height: 40px;
  margin: 2px;

  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

/* PREV e NEXT */
.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;

  width: 40px;
  height: 40px;

  /* Muda o botão escrito Prev e Next para setas */
  background: #fb5 url("../img/arrow.svg") center center no-repeat;
  color: white;
}

/* Rotaciona a seta de próximo para ANTERIOR */
.arrow-nav button.prev {
  transform: rotate(-180deg);
}
